<h1>Listing committees</h1>

    <% @committees.each do |committee| %>
        <%= render "committees/committee_row", committee: committee %>
    <% end %>
<br>

<%= link_to 'New Committee', new_committee_path %>